div.first {
  padding-top: 90px;
}

div.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-top: -10px;
  margin-bottom: 0px;
  position: relative;
  overflow: hidden;
  /*border-top: 3px dashed white;*/
  border: 1px solid white;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding-bottom: 10px;
}

span.dropcap {
  color: #499fff;
  font-size: 22px;
  font-weight: bold;
}

div.home-video h2 {
  color: #499fff;
  margin-bottom: 34px;
  font-size: 28px;
}

div.home-video p,
div.home-video ul > li {
   font-size: 20px;
}

div.home-content h2 {
  color: #499fff;
  margin-bottom: 34px;
  font-size: 20px;
}

div.home-content p,
div.home-content ul > li {
   font-size: 16px;
  line-height: 20px;
}

section.separator {
  margin-top: 20px;
  height: 20px;
}

section.content {
  margin: 0;
  padding-top: 10px;
  border-top: 2px dashed #499fff;
  font-size: 14px;
}


@media (max-width: 1199px) {

  div.js-video {
    margin-top: -8px;
  }

  div.home-video h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  div.home-video p {
     font-size: 17px;
     margin-bottom: 15px;
  }

  div.home-video ul > li {
    font-size: 17px;
    margin-bottom: 0px;
  }
}

@media (max-width: 991px) {

  div.js-video {
    margin-top: -6px;
  }

  div.home-video h2 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  div.home-video p {
     font-size: 14px;
     margin-bottom: 8px;
  }

  div.home-video ul > li {
    font-size: 14px;
    margin-bottom: 0px;
  }

  div.home-content h2 {
    color: #499fff;
    margin-bottom: 20px;
    font-size: 18px;
  }

  div.home-content p,
  div.home-content ul > li {
     font-size: 14px;
    line-height: 18px;
  }

  span.dropcap {
    font-size: 18px;
  }
}


@media (max-width: 721px) {

  div.js-video {
    margin-top: -6px;
  }

  div.home-video h2 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  div.home-video p {
     font-size: 12px;
     margin-bottom: 8px;
  }

  div.home-video ul > li {
    font-size: 12px;
    margin-bottom: 0px;
  }
}

/* @media (max-width: 1199px) {
  div.home-content > h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  span.dropcap {
    font-size: 16px;
  }
  div.home-content p, li {
     font-size: 15px;
  }
  div.home-content p {
    line-height: 18px;
    margin-bottom: 14px;
  }

  div.home-content ul {
    padding: 0;
    margin-top: -10px;
    margin-left: 17px;
    margin-bottom: 3px;
  }

  div.home-content li {
    margin: 0;
  }
}

@media (max-width: 735px) {
  div.home-content > h2 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  div.home-content p {
    font-size: 12px;
    line-height: 12px;
  }

} */
