/* STYLE */

body {
  color: #333;
  font-size: 12px;
}

h2 {
    color: #333;
}

h3 {
    color: black;
}

ul.projects {
    list-style: none;
    margin: 0;
    padding: 0;
}


li.project {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    border: 0;
}

div.project {
    background-color: #e8e8e8;
    margin: 5px;
    padding: 5px;
    border: 1px solid #999;
    -webkit-border-radius: 4px 4px 4px 4px;
     -moz-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
}
div.project h2 {
    display: inline;
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #c6ac00;
    /*text-shadow: 0 1px 1px black;*/
}

div.project h3 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}

div.project ul{
    margin-bottom: 5px;
}

div.project ul,li {
    display: inline-block;
    margin: 0;
    margin-right: 5px;
    padding: 0;
}

div.project li {
    font-size: 11px;
    background-color: #006b14;
    color: white;
    padding: 3px;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 4px 4px 4px 4px;
     -moz-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
}

div.project li a {
    color: white;
}

div.project p {
    background-color: white;
    padding: 3px;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 4px 4px 4px 4px;
     -moz-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
}
